.dashboard {
    display: flex;
    min-height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}



.content h1 {
    font-size: 30px;
    color: #2c3e50;
}.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Creación de una cuadrícula responsiva */
    gap: 15px; /* Espacio entre los botones */
    width: 100%;
    margin-top: 20px;
}

img{
    width: 300px;
    height: auto;
}
.button02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 16px;
    height: 100px;
    background-color: #5a00d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #34495e;
}

button svg {
    margin-right: 10px;
}

.imgDestacada {
    width: 100%;
    height: 300px;
    background-color: #00ff91;
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
  }
  
  .imgDestacada img {
    width: 100%; /* Permite ajustar el ancho automáticamente */
    height: auto; /* La altura ocupará todo el contenedor */
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor */
    object-position: center; /* Centra la imagen */
  } 
  @media (max-width: 905px){
    .imgDestacada img{
      width: auto;
      height: 100%;
    }
    
  }