/* Estilos del modal */
.modal-success {
  display: block; /* Muestra el modal cuando sea necesario */
  position: fixed;
  z-index: 9999; /* Asegura que el modal esté encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
}

.modal-content-success {
  background-color: #00ff91;
  margin: 10% auto; /* Ajusta el margen para centrar */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 10000; /* Asegura que el contenido esté encima del fondo del modal */
}

.close-success {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-success:hover,
.close-success:focus {
  color: black;
  text-decoration: none;
}

.modal-header-success {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body-success {
  padding: 10px;
  font-size: 16px;
}

.inputBox select {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}


.modal {
    display: block; /* Por defecto visible */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos adicionales para el formulario */
  .inputBox {
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .dashboard {
    display: flex;
    min-height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-box {
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-icon {
    font-size: 25px;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
    margin-right: 15px;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-btn:hover {
    background-color: #c0392b;
}
