<div class="sidebar" [class.show]="isSidebarVisible">
    <h2><a (click)="gotoAdonde('/sidebar')">GESTIÓN DE INVENTARIO</a></h2>
    <ul>
      <li *ngIf="role === 'Administrador'"[class.active]="isActive('/gestion-usuario')"><a (click)="gotoAdonde('/gestion-usuario')" >Gestión Usuario</a></li>
      <li [class.active]="isActive('/categorias')"><a (click)="gotoAdonde('/categorias')">Gestión Categorias</a></li>
      <li [class.active]="isActive('/productos')"><a (click)="gotoAdonde('/productos')">Gestión Productos</a></li>
      <li [class.active]="isActive('/movimientos')"><a (click)="gotoAdonde('/movimientos')">Gestión Movimientos</a></li>
      <li *ngIf="role === 'Administrador'" [class.active]="isActive('/auditoria')"><a (click)="gotoAdonde('/auditoria')">Gestión Auditoria</a></li>

    </ul>
  </div>
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
  <!-- Botón para mostrar/ocultar la sidebar -->